<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TutorMenow</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TutorMeNow</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Características</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Planes y Precios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preguntas Frecuentes</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown link
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Buscar
          </button>
        </form>
      </nav>
    </header>

    <div
      class="wrapper d-flex align-items-stretch"
      background="/images/FondoSidebar.jpg"
    >
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars" style="color: black"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="p-4">
          <h1>
            <a href="index.html" class="logo"
              >TutorMeNow<span>Educándote bien</span></a
            >
          </h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
              <a href="#"
                ><span class="fa fa-paper-plane mr-3"></span> Mis Cursos</a
              >
            </li>
            <li>
              <a href="#"
                ><span class="fa fa-briefcase mr-3"></span> Categorías</a
              >
            </li>
            <li>
              <a href="#"
                ><span class="fa fa-suitcase mr-3"></span> Área de Profesores</a
              >
            </li>
            <li>
              <a href="#"><span class="fa fa-user mr-3"></span> Mi Perfil</a>
            </li>
          </ul>

          <div class="mb-5">
            <h3 class="h6 mb-3">¡Mantente al día!</h3>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <!-- <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Email Address"
                /> -->
              </div>
            </form>
          </div>

          <!-- <div class="footer">
            <p>
               Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
              Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            </p>
          </div> -->
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container py-5">
          <!-- For demo purpose -->
          <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
              <h1 class="display-4">Nuevo curso</h1>
              <p class="lead mb-0">
                Descubre tu camino: Crea el curso que te apasiona
              </p>
            </div>
          </div>
          <!-- End -->

          <div class="row">
            <div class="col-lg-7 mx-auto">
              <div class="bg-white rounded-lg shadow-sm p-5">
                <!-- Credit card form tabs -->
                <ul
                  role="tablist"
                  class="nav bg-light nav-pills rounded-pill nav-fill mb-3"
                >
                  <li class="nav-item">
                    <a
                      data-toggle="pill"
                      href="#nav-tab-card"
                      class="nav-link active rounded-pill"
                    >
                      <i class="fa fa-info"></i>
                      Información basica
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      data-toggle="pill"
                      href="#nav-tab-paypal"
                      class="nav-link rounded-pill"
                    >
                      <i class="fa fa-file"></i>
                      Recursos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      data-toggle="pill"
                      href="#nav-tab-bank"
                      class="nav-link rounded-pill"
                    >
                      <i class="fa fa-image"></i>
                      Imagen y presentación
                    </a>
                  </li>
                </ul>
                <!-- End -->

                <!-- Credit card form content -->
                <div class="tab-content">
                  <!-- credit card info-->
                  <div id="nav-tab-card" class="tab-pane fade show active">
                    <form>
                      <div>
                        <label for="username">Titulo del curso</label>
                        <input
                          type="text"
                          name="username"
                          placeholder="Jason Doe"
                          required
                          class="form-control"
                          style="border: solid 1px"
                        />
                      </div>
                      <div class="form-group">
                        <label for="cardNumber">Descripción</label>
                        <div class="input-group">
                          <input
                            type="text"
                            name="cardNumber"
                            placeholder="Your card number"
                            class="form-control"
                            required
                            style="border: solid 1px"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label><span class="hidden-xs">Idioma</span></label>
                            <div class="input-group">
                              <select
                                class="form-control"
                                required
                                style="border: solid 1px"
                              >
                                <option value="">Español</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label
                              ><span class="hidden-xs">Categoria</span></label
                            >
                            
                              <select
                                class="form-control"
                                required
                                style="border: solid 1px"
                              >
                                <option value="">Programación</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"
                      >
                        Siguiente
                      </button>
                    </form>
                  </div>
                  <!-- End -->

                  <!-- Paypal info -->
                  <div id="nav-tab-paypal" class="tab-pane fade">
                    <p>Paypal is easiest way to pay online</p>
                    <p>
                      <button
                        type="button"
                        class="btn btn-primary rounded-pill"
                      >
                        <i class="fa fa-paypal mr-2"></i> Log into my Paypal
                      </button>
                    </p>
                    <p class="text-muted">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                  <!-- End -->

                  <!-- bank transfer info -->
                  
                  <!-- End -->
                </div>
                <!-- End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/popper.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </body>
</html>
